nav {
    width: 100%;
    padding: 10px 0 15 5px;
    background-color: rgb(65, 45, 158);
}
a {
    color: white;
    list-style: none;
}
a:hover {
    border-left: 3px solid white;
    transition-duration: 0.4s;
    text-decoration: none;
}
h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (min-width: 480px) {
    nav {
        flex-direction:column;
    }
}