nav {
    width: 150%;
    padding: 10px 0 10 10px;
    background-color: rgb(65, 45, 158);
    justify-content: center;

}
html {
    margin: 0;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    margin: 0 20px;
    color: white;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}
.classements {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3%;
}
.classement {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-bottom: -1%;
    padding-left: 3%;
}
#div {
    background-color: rgb(156, 129, 182);
    margin: 2% 60% 5% 10%;
    border-radius: 15px;
    justify-content:center;
    
}
form {
    margin-top: 1%;
    font-size: 15px;
}
@media screen and (max-width:800px) {
       .divs { 
           display: flex;
           margin-bottom: 10px;
}
}

.divs { 
    margin-bottom: 10px;
}
a:hover {
    border-left: 3px solid white;
    transition-duration: 0.4s;
}
.image {
    width: 150px;
}
h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
@media screen and (min-width: 480px) {
    nav {
        flex-direction:column;
    }
}